<div class="page">
	<%= render 'home/nav_home' %>
	<%= render 'home/modal_sign_in' %>
	<%= render 'home/modal_sign_up' %>
	<%= render 'home/pitch' %>
	<%= render 'home/partners' %>
	<%= render 'home/carousel' %>
	<%= render 'home/services' %>
</div>
