<div class="page">
	<%= render 'layouts/nav_member' %>
	<section class="section margin-xl-top" id="member-main">
		<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2">
			<div class="row">
				<%= render 'index_listing' %>
				<%= render 'modal_add_project' %>
				<%= render 'index_aside' %>
				<%= render 'modal_upload_picture' %>
			</div>
		</div>
	</section>
</div>
