<%= render 'projects/tab' %>
<div id="page-listing" class="page">
	<%= render 'layouts/nav_member' %>
	<section class="section margin-xl-top" id="member-main">
		<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2">
			<div class="row">
				<%= render 'projects/listing' %>
				<%= render 'projects/modal_add_project' %>
				<%= render 'projects/listing_aside' %>
				<%= render 'projects/modal_upload_picture' %>
			</div>
		</div>
	</section>
