<div class="page" ng-controller="ProjectsShowCtrl">
	<%= render 'layouts/nav_member' %>
	<%= render 'nav_interface' %>
	<%= render 'interface_main' %>
	<%= render 'interface_bar' %>
	<%= render 'modal_coworker' %>
	<%= render 'modal_add_coworker' %>

  <ul>
    <li ng-repeat="segment in segments">{{ segment.name }}</li>
  </ul>
</div>
