<div class="page" ng-controller="ProjectsShowCtrl">
	<%= render 'layouts/nav_member' %>
	<%= render 'show_nav' %>
	<%= render 'show_main' %>
	<%= render 'show_bar' %>
	<%= render 'modal_coworker' %>
	<%= render 'modal_add_coworker' %>
</div>
